.aurora-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
  /* 我们可以通过 CSS 滤镜让它更柔和 */
  filter: blur(20px);
  opacity: 0.5;
}

.aurora-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}
